
<div class="container fondo">

	<div class="row centrado ajuste">
		<div class="col centrado">
			<img src="img/logo.png" class="logo">
		</div>
	</div>

	<div class="row info letra mail">
		<div class="col text-center">
			<span>CORREO</span>

			<style type="text/css">
				input::placeholder
				{
					color:white;
				}
			</style>

			<input type="email" name="" placeholder="Ingresa tu correo" class="input text-center" ng-model="userL.email">
		</div>
	</div>

	<div class="row info letra mail">
		<div class="col text-center">
			<span>CONTRASEÑA</span>
			<input type="password" name="" placeholder="Ingresa tu clave" class="input text-center Place" ng-model="userL.password">
		</div>
	</div>

	<div class="row centrado">
		<div class="col centrado">
			<div class="boton letra" ng-click="Inicio(userL)">
				<span>Iniciar</span>
			</div>
		</div>
	</div>

	<div class="row espacio">
		<div class="col">
			<span class="log Whitez">¿Aún no tienes cuenta? &nbsp <b ui-sref="registro"> Registrate </b> </span>
		</div>
	</div>
	
</div>