<ion-view>
	<ion-content>
		<div class="Background">
			<br>
			<br>
			<h4 class="text-center Whi">REGÍSTRATE</h4>
		<br/>
		<div>
			<br>
			<p class="text-center Op Whi">USUARIO</p>
			<input type="text" class="Borde Mov Whi" placeholder="Ingresa tu usuario">
			<hr color="gray" size=1>
			<br>
			<p class="text-center Op Whi">CORREO</p>
			<input type="text" class="Borde Mov" placeholder="Ingresa tu correo">
			<hr color="gray" size=1>
			<br>
			<br>
			<p class="text-center Op Whi">CONTRASEÑA</p>
			<input type="password" class="Borde Mov" placeholder="Ingresa tu contraseña">
			<hr color="gray" size=1>
			<br>
			<br>
			<p class="text-center Op Whi">CONFIRMAR CONTRASEÑA</p>
			<input type="password" class="Borde Mov" placeholder="Ingresa tu contraseña">
			<hr color="gray" size=1>
			<br>
			<br>
			<button class="button button-large button-assertive Mov W">
 			 INICIAR
			</button>
			<br>
			<p class="text-center Whi">¿Ya tienes cuenta? <strong><a class="Whi" href="">INICIAR</a></strong></p>
		</div>
	</div>
	</ion-content>
</ion-view>