<!-- Vista Tutorial -->
<div class="Contenedor BackgroundTutorial">

	<div class="row">
		<div class="col Center">
			<img src="img/CellPhone.png" height="">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<ion-content scroll="false" class="tutorial">
			  <ion-slides  options="options" slider="data.slider">
			    <ion-slide-page>
			      <div class="box blue">
			      	<h1 class="text-center P1">Encuentra lo que buscas <br> fácil y rápido</h1>
					<h3 ui-sref="login" class="text-right R1">Saltar</h3>
			      </div>
			    </ion-slide-page>
			    <ion-slide-page>
			      <div class="box yellow TMove1 P1"><h1 class="text-center">Crea tu cuenta</h1></div>
			      <h3 ui-sref="login" class="text-right R2">Saltar</h3>
			    </ion-slide-page>
			    <ion-slide-page>
			      <div class="box pink"><h1 class="text-center P1">Disfruta de la variedad de <br> nuestros productos</h1></div>
			      <h3 ui-sref="login" class="text-right R3">Saltar</h3>
			    </ion-slide-page>
			  </ion-slides>
			</ion-content>
		</div>
	</div>
</div>

<div></div>