<!DOCTYPE html>
<html ng-app="MyApp" lang="es">
<head>
    <title>Producto</title>
    <meta charset="UTF-8" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/efecto.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

</head>


<body ng-controller="productoCtrl">
  <center>
    <form role="form">
        <div class="form-group">
          
                  <img src="img/logo_max.png"><br><br>
           
                  <label for="name">Código </label>
                  <input type="text" class="sinbordefondo" ng-model="producto.codigo"><br><br>
                  <label for="categoria">Categoria</label>
                  <select name="select" ng-model="producto.categoria">
                    <option value="Electrónica">Electrónica</option> 
                    <option value="Línea Blanca">Línea Blanca</option> 
                    <option value="Linea blanca">Linea blanca </option> 
                    <option value="Celulares">Celulares</option> 
                    <option value="Electrodomésticos">Electrodomésticos</option> 
                    <option value="Videojuegos">Videojuegos</option> 
                    <option value="Audio">Audio </option> 
                    <option value="Cámaras y drones">Cámaras y drones</option> 
                    <option value="Accesorios">Accesorios</option> 
                    <option value="Ambientadores">Ambientadores</option> 
                  </select><br><br>
                  <label for="nombre">Nombre</label>
                  <input type="text" class="sinbordefondo" ng-model="producto.nombre" ><br><br>
                  <label for="nombre">Marca</label>
                  <input type="text" class="sinbordefondo" ng-model="producto.marca" ><br><br>
                  <label for="nombre">Modelo</label>
                  <input type="text" class="sinbordefondo" ng-model="producto.modelo" ><br><br>
                  <label for="precio">Precio</label>
                  <input type="number" class="sinbordefondo" ng-model="producto.precio" ><br><br>
                  <label for="cantidad">Cantidad</label>
                  <input type="number" class="sinbordefondo" ng-model="producto.cantidad" ><br><br>
                  <label for="cantidad">Descripción</label>
                  <input type="textarea" class="sinbordefondo" ng-model="producto.descripcion" ><br><br>
                  <label for="nombre">Promoción</label>
                  <input type="text" class="sinbordefondo" ng-model="producto.imageFile" ><br><br>
              </div>
                     <div>
                        Selecciona una imagen:
                        <input name="imagen" type="file" id="imagenProducto">
                        </form> 
                     </div>

        <button  class="btn btn-primary" ng-click="guardar(producto)">Enviar</button>
        <button type="reset" class="btn btn-default">Cancelar</button>
    </form>
    </center>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>
    <script  src="js/angular.js"></script>
    <script  src="js/controllers.js"></script>
</body>  
</html>